;; shadow-cljs configuration
{:builds {:repl {:target :node}
          :test {:autorun true :ns-regexp "-test$" :output-to "out/node-tests.js" :target :node-test}}
 :dependencies [[garden "1.3.9"]]
 :source-paths ["src" "test"]}
