;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[garden "1.3.9"]]

 :builds
 {:test
  {:target    :node-test
   :output-to "out/node-tests.js"
   :ns-regexp "-test$"
   :autorun   true}}}
